@import './3rdparty-theme';

$primary-color-dark: mat-color($candy-app-accent, 900);//rgb(33, 89, 104);
$primary-color: mat-color($candy-app-accent, 700);
$primary-color-light: mat-color($candy-app-accent, 600);;

$primary-text-dark: rgba(255, 255, 255, 1);
$primary-text: rgba(255, 255, 255, 1);
$primary-text-light: rgba(0, 0, 0, 0.44);

$secondary-color-darkest_2: mat-color($candy-app-primary, 900);
$secondary-color-dark_2: mat-color($candy-app-primary, A400);
$secondary-color_2: mat-color($candy-app-primary, A200);//rgb(245, 216, 1);
$secondary-color-light_2: mat-color($candy-app-primary, A100);


$secondary-color-dark_1: mat-color($candy-app-secondary, A400);
$secondary-color_1: mat-color($candy-app-secondary, A200);//rgb(245, 216, 1);
$secondary-color-light_1: mat-color($candy-app-secondary, A100);

$secondary-text-dark_2: rgb(127, 127, 127);
$secondary-text_2: rgb(173, 173, 173);
$secondary-text-light_2: rgb(217, 217, 217);

$secondary-text-weak_2:rgb(127, 127, 127);

$white: rgb(255, 255, 255);

$error_color: #9f0b00;

$bg-color: $secondary-color_2;

