<div class="alert_bg" *ngIf="showAlert"></div>
<div class="task_alert" *ngIf="showAlert">

  {{test(viewData)}}

  <div class="alert_title">
    <span ngClass="title_icon {{viewData.titleIconClass}}"></span>
    <span class="alert_title_text">{{viewData.title}}</span>
  </div>
  <div class="task_title">{{viewData.content}}</div>
  <div id="buttons_container">
    <button *ngFor="let button of viewData.buttons" (click)="button.callback()" ngClass="{{button.class}}"></button>

    <!--<button (click)="stopAlert()" ngClass="{{button.class}}"></button>-->
    <!--<button (click)="snoozeTask()" ngClass="{{button.class}}"></button>-->
    <!--<button (click)="completeTask()" ngClass="{{button.class}}"></button>-->
  </div>
</div>
