@import './3rdparty-theme';

$primary-color-dark: #00867d;
$primary-color: #4db6ac;
$primary-color-light: #82e9de;

$primary-text-dark: rgba(0, 0, 0, 0.60);
$primary-text: rgba(0, 0, 0, 0.48);
$primary-text-light: rgba(0, 0, 0, 0.44);

$secondary-color-dark: #373737;
$secondary-color: #616161;
$secondary-color-light: #8e8e8e;

$secondary-text-dark: rgba(255, 255, 255, 0.91);
$secondary-text: rgba(255, 255, 255, 0.53);
$secondary-text-light: rgba(255, 255, 255, 0.37);
