<div class="task_details_container">

  <div class="task_details">

    <div class="isEnabledTask">
      <mat-slide-toggle [checked]="task.isEnabled" (change)="enableValueChanged(task)"></mat-slide-toggle>
    </div>

    <div class="timeSection">
      {{appUtils.getTimeString(task.time.hour, task.time.minute)}}
    </div>
    <div class="nextAlarmSection">
      Next alarm: {{appUtils.getTimeString(task.time.hour, task.time.minute)}} {{task.getNextAlarmDay()}}
    </div>
    <div id="daysContainer">
      <div class="sub_title">Days</div>
      <div>
        <span *ngFor="let day of task.days; let i = index" class="sub_title_value">{{daysHelper.getPrefixOfDayName(day, 3)}}<span *ngIf="i < task.days.length - 1">, </span></span>
      </div>
    </div>

    <div class="horizontal_line_separator"></div>

    <div class="titleSection">
      <div class="sub_title">Title</div>
      <div class="sub_title_value">{{task.title}}</div>
    </div>
    <div class="horizontal_line_separator"></div>
    <div class="repeat_title_container">
      <span class="sub_title repeat_title">Repeat</span>
      <div class="sub_title_value">{{task.repeat ? 'Yes' : 'No'}}</div>
    </div>

    <div class="horizontal_line_separator"></div>
    <div class="contacts_title_container">
      <span class="sub_title">Contacts</span>
    </div>
    <div>
      <div class="contact_container" *ngFor="let c of task.contacts">
        <div class="sub_title_value">
          {{c.name}}
        </div>
        <div class="contact_phone">
          {{c.phone}}
        </div>
      </div>
    </div>
  </div>

  <div class="confirm_buttons_contaner">
    <button class="main_ok_button" [routerLink]="['/edit', task.id]"></button>
    <button class="back_button" (click)="back()"></button>
  </div>
</div>
