@import '../../../sass/variables.scss';
@import '../../shared.scss';

.add_task_container{
  display: flex;
  flex-direction: column;
  height: 100%;
  color: $secondary-text-8;
}

.content_container{
  flex: 1;
  overflow-y: auto;
  margin-left: 10px;
  margin-right: 10px;
}

#titleContainer{
  width: 100%;
}

.timeSection{
  text-align: center;
  color: $time-color;
  font-size: 30px;
  font-weight: bold;
}

#timePicker{
  margin: 0 auto;
  width: 150px;
  display: block;
}

input{
  width: 100%;
}

#daysContainer{
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

#daysContainer > *{
  text-align: center;
}

#repeatContainer{
  display: flex;
//  padding: 15px 0px 0px 0px;
//  margin: 20px 0px 0px 0px;
//  border-top: 1px solid #c0bfbf;
}

.repeat_title{
  flex: 1;
}

#repeatCheckbox{
  margin-left: 10px;
  vertical-align: middle;
  margin-top: 3px;
  display: inline-block;
}

#shareContactsTitleContainer{
  display: flex;
//  border-top: 1px solid #c0bfbf;
//  padding-top: 10px;
//  margin-top: 10px;
}

.share_with_title{
  flex: 1;
}

#shareContactsContainer{
  margin-top: 10px;
}

#contactsButton{
  background-image: url('../../../assets/phone.png');

  background-color: $contacts-button-bg;
  border: 0px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin-left: 10px;
  border-radius: 20px;
  padding: 10px;
  display: inline-block;
  background-position: center;
}


:host ::ng-deep.btn-link{
  color: $primary-color-9;
}

.main_ok_button{
  background-image: url('../../../assets/ok_colorful.png');
  background-position: 36px 37px;
  background-size: 20px;
}

.back_button{
  background-image: url('../../../assets/back.png');
}

.titleAreaContainer{
  margin-top: 20px;
}

mat-form-field{
  margin-top: -10px;
}

:host ::ng-deep.mat-form-field-underline{
  display: none;
}

:host ::ng-deep input{
  @include sub_title_value(false);
  padding: 5px 0px;

  @include input_style;
}

//:host ::ng-deep input:focus{
//  background: $title-input-background;
//  border-top: 1px solid $title-input-border-top;
//  border-bottom: 1px solid $title-input-border-bottom;
//  border-radius: 3px;
//  padding: 5px;
//}

:host ::ng-deep.mat-form-field-empty.mat-form-field-label{
  //@include sub_title_value(false);
  padding: 10px 0px 10px 5px;
  color: $title-place-holder-color;
}


:host ::ng-deep.mat-form-field-wrapper {
  padding-bottom: 0px;
}

:host ::ng-deep.mat-form-field-subscript-wrapper {
  margin-top: 11px;
}

.ok_button{
  background: url('../../../assets/ok.png');
}

.cancel_button{
  background: url('../../../assets/x.png');
}
