<div class="add_task_container app_content_text" >
  <div class="content_container">

    <div class="timeSection" (click)="openTimePicker()">
      {{appUtils.getTimeString(timePickerModel.hour, timePickerModel.minute)}}
      <!--<ngb-timepicker [(ngModel)]="timePickerModel" required id="timePicker"></ngb-timepicker>-->
    </div>

    <div>
      <div id="daysContainer">
        <span><span class="day_button" [ngClass]="{day_selected: task.days.indexOf(0) >= 0}" (click)="toggleDay(0)">S</span></span>
        <span><span class="day_button" [ngClass]="{day_selected: task.days.indexOf(1) >= 0}" (click)="toggleDay(1)">M</span></span>
        <span><span class="day_button" [ngClass]="{day_selected: task.days.indexOf(2) >= 0}" (click)="toggleDay(2)">T</span></span>
        <span><span class="day_button" [ngClass]="{day_selected: task.days.indexOf(3) >= 0}" (click)="toggleDay(3)">W</span></span>
        <span><span class="day_button" [ngClass]="{day_selected: task.days.indexOf(4) >= 0}" (click)="toggleDay(4)">Th</span></span>
        <span><span class="day_button" [ngClass]="{day_selected: task.days.indexOf(5) >= 0}" (click)="toggleDay(5)">F</span></span>
        <span><span class="day_button" [ngClass]="{day_selected: task.days.indexOf(6) >= 0}" (click)="toggleDay(6)">St</span></span>
      </div>
    </div>

    <div class="titleAreaContainer">
      <div class="sub_title">title</div>
      <mat-form-field id="titleContainer" [floatLabel]="'never'">
        <input matInput placeholder="Enter title" [formControl]="title" required>
        <mat-error *ngIf="title.invalid">{{getErrorMessage("title")}}</mat-error>
      </mat-form-field>
    </div>

    <div class="horizontal_line_separator"></div>

    <div id="repeatContainer">
      <span class="repeat_title sub_title">Repeat</span>
      <mat-checkbox id="repeatCheckbox" [(ngModel)]="task.repeat"></mat-checkbox>
    </div>

    <div class="horizontal_line_separator"></div>

    <div id="shareContactsTitleContainer"><span class="share_with_title sub_title">Share with</span><button id="contactsButton" (click)="openContactsList()"></button></div>

    <div id="shareContactsContainer">

      <div *ngFor="let c of task.contacts" class="single_contact">
        <div class="contact_name">
          {{c.name}}
        </div>
        <div>
          {{c.phone}}
        </div>
      </div>
    </div>
  </div>

  <div class="confirm_buttons_contaner">
    <button class="back_button" (click)="cancel()"></button>
    <button class="main_ok_button"  (click)="saveTask()"></button>
  </div>

</div>


