@import '../../../sass/variables';
@import '../../shared';

.task_item_container{
  display: flex;
  padding: 10px;
  background: $task-item-background;
  margin: 10px 0px;
  border-bottom: 1px solid $task-item-bottom-border;
  border-top: 1px solid $task-item-top-border;
  color: $task-item-color;
  border-radius: 3px;
}

.task_title{
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: bold;
}

.due_time{
  //margin-top: -15px;
  //padding-right: 10px;
  font-size: 25px;
  //position: absolute;
  //top: 50%;
}

.content_section{
  line-height: 20px;
  flex: 1;
}

.enable_section{
  text-align: center;
  padding-left: 5px;
  position: relative;
}

mat-slide-toggle{
  //position: absolute;
  //right: 0px;
  //top: 50%;
  //margin-top: -12px;
}
