@import '../../sass/variables';
@import'../shared';



.tasks_container{
  display: flex;
  height: 100%;
  flex-direction: column;
}

.tasks_list_container
{
  padding: 0px 10px;
  flex:1;
}

.main_ok_button{
  background-image: url('../../assets/add_colorful.png');
  background-position: 36px 35px;
  background-size: 20px;
}
