@import "../sass/variables";

.day_button{
  display: inline-block;
  border: 0px;
  border-radius: 20px;
  width: 28px;
  padding: 5px 0px;
  text-align: center;
  color: white;
  background: $day-button-default-color;
}

.day_selected{
  color: $white;
  background: $day-button-selected-color;
}

.confirm_buttons_contaner{
  overflow: hidden;
}

.main_ok_button{
  background: $main-ok-button-color;
  border: 0px;
  height: 180px;
  width: 180px;
  float: right;
  border-radius: 90px;
  margin-right: -100px;
  margin-bottom: -100px;
  //-webkit-box-shadow: -1px -1px 5px 0px rgba(189,189,189,1);
  //-moz-box-shadow: -1px -1px 5px 0px rgba(189,189,189,1);
  //box-shadow: -1px -1px 5px 0px rgba(189,189,189,1);
  background-repeat: no-repeat;
  outline: none;

}

.back_button{
  background: $main-back-button-bg;
  border: 0px;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: 7px;
  background-position: 10px;

  margin-top: 25px;
  margin-left: 25px;
}

.icon_button{
  border: 0px;
  height: 30px;
  width: 30px;
  background-size: 18px 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.form_label{
  font-weight: bold;
}

.horizontal_line_separator{
  height: 2px;
  width: 100%;
  background: $horizontal-line-bg;
  border-bottom: 1px solid $horizontal-bottom-line-bg;
  margin: 20px 0px;
}

.sub_title {
  text-shadow: 1px 1px 2px #203740;
  font-size: 13px;
  font-weight: bold;
  color: $item-details-sub-text;
}

@mixin sub_title_value($addShadow){

  @if $addShadow == true{
    text-shadow: 1px 1px 2px #203740;
  }
  @else {
    text-shadow: none;
  }

  font-size: 20px;
  font-weight: bold;
  color: $item-details-text-color;
}

@mixin input_style{
  background: $input-background;
  border: 0px;
  border-top: 1px solid $input-border-top;
  border-bottom: 1px solid $input-border-bottom;
  border-radius: 3px;
  padding: 5px;
}

.sub_title_value {
  @include sub_title_value(true);
}

.ok_button{
  background: transparent;
  border: 0px;
  color: $ok-button-color;
}

.cancel_button{
  background: transparent;
  border: 0px;
  color: $cancel-button-color;
}
